body {
    background: #000;
    text-align: center;
    font-family: verdana, sans-serif;
}

.game-title {
    font-size: 2.4rem;
    margin-bottom: .4rem;
}

.container {
    position: relative;
    margin: 0 auto;
}

.game-button {
    height: 45vmin;
    width: 45vmin;
    display: inline-block;
}

.game-controls {
    vertical-align: top;
}

.green-btn {
    background-color: rgb(0, 155, 0);
    border-radius: 45vmin 0 0 0;
    -moz-border-radius: 45vmin 0 0 0;
    -webkit-border-radius: 45vmin 0 0 0;
}

.green-btn.pressed {
    background-color: rgb(0, 255, 0);   
}

.red-btn {
    background-color: rgb(155, 0, 0);
    border-radius: 0 45vmin 0 0;
    -moz-border-radius: 0 45vmin 0 0;
    -webkit-border-radius: 0 45vmin 0 0;
}

.red-btn.pressed {
    background-color: rgb(255, 0, 0);
}

.yellow-btn {
    background-color: rgb(155, 155, 0);
    border-radius: 0 0 0 45vmin;
    -moz-border-radius: 0 0 0 45vmin;
    -webkit-border-radius: 0 0 0 45vmin;
}

.yellow-btn.pressed {
    background-color: rgb(255, 255, 0);
}

.blue-btn {
    background-color: rgb(0, 0, 155);
    border-radius: 0 0 45vmin 0;
    -moz-border-radius: 0 0 45vmin 0;
    -webkit-border-radius: 0 0 45vmin 0;
}

.blue-btn.pressed {
    background-color: rgb(0, 0, 255);
}

.control-btn {
    vertical-align: top;
    font-size: 1.25rem;
    line-height: 1.9rem;
    margin-bottom: 10px;
}

.strict-mode-on {
    font-size: 1.25rem;
    line-height: 1.9rem;
    border: solid 2px blue; 
    color: blue;
}


.inner-circle {
    height: 55vmin;
    width: 55vmin;
    border-radius: 55vmin;    
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #eee;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.round-counter {
    color: red;
    padding: 0 .2rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    height: 2.2rem;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: inline-block;
}
